:root {
    --color: black;
    --background: white;
    --buttonsBackground: rgb(230, 230, 230);
}

:root[darkmode="true"] {
    --color: white;
    --background: black;
    --buttonsBackground: rgb(68, 68, 68);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-family: "HurmeHEMA","Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.6rem;
    background-color: var(--background);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin-left: 10vw;
    height: 10rem;
    width: 80vw;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    background: var(--background);
}

.header--top--wrapper{
    display: flex;
    width: 100%;
    gap: 2rem;
    height: 3rem;
}

.logo{
    height: 100%;
}

.header--top{
    flex: 1;
    width: 95%;
    height: 3.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--color);
}

.header--bar{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.7rem;
    gap: 2rem;
    
    & > a {
        height: 70%;
        text-decoration: none;
        color: var(--color);
        
        &:hover {
            border-bottom: 0.2rem solid var(--color);
        }
    }
}

.header--bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#js--darkmodeButton{
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--color);
    background: var(--buttonsBackground);
    /* font-size: 1.5rem; */
    /* font-weight: bold; */
    cursor: pointer;
}

.searchBar{
    width: 35rem;

    & > input {
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        color: var(--color);
        background: var(--buttonsBackground);
    }
}

#js--login{
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--color);
    background: var(--buttonsBackground);
    cursor: pointer;
}

.body__main{
    height: 185rem;
    width: 80vw;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

.slidebar{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10rem;
    overflow: hidden;

    &:hover {
        overflow: visible;
    }
}

.slidebar__box{
    width: 10rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    color: var(--color);
}

.slidebar__img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.body__box1{
    height: 50rem;
    margin-top: 2rem;
    background: red;
    border-radius: 1rem;
}

.body__box-wrapper {
    display: flex;
    margin-top: 10rem;
    gap: 2rem;
}

.body__box2{
    flex: 1 1 0;
    height: 30rem;
    background: green;
    border-radius: 1rem;
}

.body__box3{
    flex: 1 1 0;
    height: 50rem;
    background: blue;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    & > img {
        border-radius: 1rem 1rem 0 0;
        width: 100%;
    }

    & > p {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer{
    background-color: rgb(196, 0, 196);
    color: white;
    height: 15rem;
    width: 100vw;
}