:root {
    --color: black;
    --background: white;
    --buttonsBackground: rgb(230, 230, 230);
}

:root[darkmode="true"] {
    --color: white;
    --background: black;
    --buttonsBackground: rgb(68, 68, 68);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-family: "HurmeHEMA","Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.6rem;
    background-color: var(--background);
    position: relative;
}

.shoppingcart{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    border: none;
    right: 0;
    background: var(--buttonsBackground);
    cursor: pointer;

    & > img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.item-counter{
    align-self: center;
    justify-self: center;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    position: absolute;
    padding-top: 0.3rem;
    color: white;
    background: red;
    border-radius: 50%;
}

header{
    margin-left: 10vw;
    height: 10rem;
    width: 80vw;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    top: 0;
    background: var(--background);
}

.header--top--wrapper{
    display: flex;
    width: 100%;
    gap: 2rem;
    height: 3rem;
}

.logo{
    height: 100%;
}

.header--top{
    flex: 1;
    width: 95%;
    height: 3.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--color);
}

.header--bar{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.7rem;
    gap: 2rem;
    
    & > a {
        height: 70%;
        text-decoration: none;
        color: var(--color);
        
        &:hover {
            border-bottom: 0.2rem solid var(--color);
        }
    }
}

.header--bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#js--darkmodeButton{
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--color);
    background: var(--buttonsBackground);
    cursor: pointer;
}

.searchbar{
    width: 35rem;
    
    & > input {
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        color: var(--color);
        background: var(--buttonsBackground);
    }
}

#js--login{
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--color);
    background: var(--buttonsBackground);
    cursor: pointer;
}

main{
    width: 80vw;
    height: 200rem;
    margin-left: 10vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.modBut{
    border-radius: 2rem;    
    border: none;
}

.body__section1{
    width: 100%;
    height: 100rem;
    object-fit: cover;
    position: relative;
    cursor: pointer;

    & > img{
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        border: 0.2rem solid black;
    }

    & > h2{
        position: absolute;
        bottom: 7rem;
        left: 10rem;
        font-size: 500%;
        font-weight: bold;
    }
}

dialog{
    top: 5vh;
    left: 5vw;
    border-radius: 1rem;
}

.modal__content{
    width: 90vw;
    height: 90vh;
    display: flex ;
    position: relative;
    background: var(--background);
    color: var(--color);
    
    & > img{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    & > div{
        width: 50%;
        padding: 1rem;
        
            & > h2 {
                width: 100%;
                height: 4rem;
                border-bottom: 0.3rem solid var(--color);
            }

            & > p {
                padding-top: 2rem; 
                font-size: 2rem;
            }

            & > .ATCbut{
                width: 14rem;
                height: 7rem;
                bottom: 1rem;
                left: 51%;
                font-size: 150%;
                position: absolute;
                background: none;
                cursor: pointer;
                border-radius: 1rem;
                background: red;
                color: white;
                border: black;
            }
    
            & > button{
                width: 12rem;
                height: 7rem;
                bottom: 1rem;
                right: 2rem;
                font-size: 150%;
                position: absolute;
                background: none;
                cursor: pointer;
                border-radius: 1rem;
                background: var(--buttonsBackground);
                color: var(--color);
                border: black;
            }
    }
}

.body__section2{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.section2__items{
    flex: 1 1;
    width: 40rem;
    height: 100%;
    cursor: pointer;
    border: 0.2rem solid black;
    position: relative;

    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem;
    }

    & > h2{
        background: white;
        border-radius: 0.5rem;
        padding: 0.5rem;
        bottom: 0;
        left: 1rem;
        position: absolute;
    }
}

.body__section3{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.sect3__items{
    flex: 1 1;
    width: 50%;
    height: 100%;
    cursor: pointer;
    background: red;
    border-radius: 2rem;
    border: 0.2rem solid black;
    display: flex;
    align-items: center;

    & > img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem 0 0 2rem;
    }

    & > p{
        color: white;
        font-size: 200%;
        padding: 1rem;
    }
}

footer{
    background-color: rgb(196, 0, 196);
    color: white;
    height: 15rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}